{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>XIOMEX TECH</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/toast.css' %}">
    <link rel="stylesheet"
          href="{% static 'fontawesome/all.min.css' %}">
</head>

<body>

{% include 'includes/header.html' %}
{% include "includes/toast.html" %}
<main>
    <div class="temporal-perfil-img" >
        <img src="{% static 'img/perfil-example.png' %}" alt="perfil-example">
    </div>
</main>

<script src="{% static 'javascript/toast.js' %}"></script>

</body>
</html>