# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Entorno virtual
# =====================================
venv/
env/
.venv/

# =====================================
# Variables de entorno
# =====================================
.env
.env.*

# =====================================
# Django
# =====================================
db.sqlite3
media/

# Archivos de logs
*.log

# =====================================
# IDEs
# =====================================
.vscode/
.idea/

# =====================================
# Sistema operativo
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Archivos temporales
# =====================================
*.tmp
*.temp
*.bak
*.swp

# =====================================
# Caché de herramientas
# =====================================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/