{% load static %}
<!--hay que revisar esto-->
<footer id="footer" class="footer">

    <div class="footer-contenido">

        <!-- Logo -->
        <section class="logo2">

            <img src="{% static 'img/icon2.png' %}" alt="Xiomex Tech">

            <p>
                Soluciones tecnológicas confiables para tu día a día.
                Calidad, garantía y servicio en un solo lugar.
            </p>

            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>

        </section>

        <!-- Productos -->
        <section>
            <h3>Productos</h3>

            <a href="#">Computadores</a>
            <a href="#">Celulares</a>
            <a href="#">Accesorios</a>
            <a href="#">Periféricos</a>
            <a href="#">Ofertas</a>
        </section>

        <!-- Servicios -->
        <section>
            <h3>Servicios</h3>

            <a href="#">Reparaciones</a>
            <a href="#">Mantenimiento</a>
            <a href="#">Soporte técnico</a>
            <a href="#">Instalaciones</a>
            <a href="#">Garantías</a>
        </section>

        <!-- Nosotros -->
        <section>
            <h3>Nosotros</h3>

            <a href="#">Quiénes somos</a>
            <a href="#">Políticas</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Trabaja con nosotros</a>
        </section>

        <!-- Contacto -->
        <section>
            <h3>Contacto</h3>

            <p><i class="fa-solid fa-location-dot"></i> Calle 123 #45-67</p>
            <p>Medellín, Colombia</p>

            <p><i class="fa-solid fa-phone"></i> +57 300 123 4567</p>

            <p><i class="fa-solid fa-envelope"></i> info@xiomextech.com</p>

        </section>

    </div>

    <div class="copyright">
        © 2026 Xiomex-Tech. Todos los derechos reservados.
    </div>

</footer>