{% load static %}
<header>

<nav class="navbar">

    <!-- Logo -->
    <a class="logo1" href="{% url 'index' %}">
        <img src="{% static 'img/icon1.png' %}" alt="Xiomex Tech">
    </a>

    <!-- Menú -->
    <div class="nav-links">
        <a href="{% url 'index' %}" class="{% if request.path == '/' %}header-activo{% endif %}">Inicio</a>
        <a href="{% url 'productos' %}" class="{% if request.path == '/productos/' %}header-activo{% endif %}">Productos</a>
        <a href="{% url 'servicios' %}" class="{% if request.path == '/servicios/' %}header-activo{% endif %}">Servicios</a>
        <a href="{% url 'index' %}#footer">Acerca de</a>
    </div>

    <!-- Buscador -->
    <form
        class="search-bar"
        action="{% url 'productos' %}"
        method="GET"
    >

        <input
            type="search"
            name="q"
            value="{{ request.GET.q|default:'' }}"
            placeholder="Busca productos o servicios"
            autocomplete="off"
        >

        <button type="submit">

            <i class="fa-solid fa-magnifying-glass"></i>

        </button>

    </form>

    <!-- Iconos -->
    <div class="nav-icons">

        <a class="carrito-icon" href="{% url 'carrito' %}">
            <div class="carrito-circulo">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <span>Carrito</span>
        </a>

        <div class="perfil-menu">

            <div class="perfil-icon">
                <a class="perfil-text" href="{% url 'perfil' %}">
                    <div class="perfil-circulo">
                        {% if usuario and usuario.usu_img.name != "default_perfil.png" %}
                            <img src="{{ usuario.usu_img.url }}" alt="Perfil">
                        {% else %}
                            <i class="fa-solid fa-user"></i>
                        {% endif %}
                    </div>

                    <span>Perfil</span>
                </a>
            </div>

            <div class="perfil-dropdown">

                {% if request.session.usuario_id %}

                    <a href="{% url 'perfil' %}">
                        Mi perfil
                    </a>

                    <a href="{% url 'logout' %}">
                        Cerrar sesión
                    </a>

                {% else %}

                    <a href="{% url 'auth' %}">
                        Iniciar Sesión
                    </a>

                    <a href="{% url 'auth' %}?mode=register">
                        Registrarse
                    </a>

                {% endif %}

            </div>

        </div>

    </div>
</nav>

</header>