{% load static %}

<aside class="sidebar">

    <div class="sidebar-logo">
        <img src="{% static 'img/icon1.png' %}" alt="XiomeX Tech">
    </div>

    <nav class="sidebar-nav">
        <a href="{% url 'index' %}">
            <i class="fa-solid fa-house"></i>
            Inicio
        </a>
    </nav>

    <hr class="sidebar-divider">

    <h2 class="sidebar-title">Cuenta</h2>

    <nav class="sidebar-nav">
        <a href="{% url 'perfil' %}">
            <i class="fa-solid fa-user"></i>
            Perfil
        </a>

        <a href="#">
            <i class="fa-solid fa-box"></i>
            Mis pedidos
        </a>

        <a href="{% url 'seguridad' %}">
            <i class="fa-solid fa-lock"></i>
            Seguridad
        </a>
    </nav>

    {% if request.session.usuario_rol == "administrador" or request.session.usuario_rol == "superadministrador" %}
        <hr class="sidebar-divider">

        <h2 class="sidebar-title">Administración</h2>

        <nav class="sidebar-nav">
            <a href="#">
                <i class="fa-solid fa-box"></i>
                Productos
            </a>

            <a href="#">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                Servicios
            </a>

            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
                Carritos
            </a>
        </nav>
    {% endif %}

    {% if request.session.usuario_rol == "superadministrador" %}
        <hr class="sidebar-divider">

        <h2 class="sidebar-title">Superadministrador</h2>

        <nav class="sidebar-nav">
            <a href="#">
                <i class="fa-solid fa-users"></i>
                Usuarios
            </a>
        </nav>
    {% endif %}

    <hr class="sidebar-divider">

    <nav class="sidebar-nav sidebar-logout">
        <a href="{% url 'logout' %}">
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar sesión
        </a>
    </nav>

</aside>