{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>XIOMEX TECH</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">  
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
    <link rel="stylesheet"
          href="{% static 'fontawesome/all.min.css' %}">
</head>

<body>

{% include 'includes/header.html' %}

<main>
    <div class="temporal-index-img" >
        <img src="{% static 'img/index-example.png' %}" alt="index-example">
    </div>
</main>

{% include 'includes/footer.html' %}

</body>
</html>