/*=========================================
                VARIABLES
=========================================*/

:root{
    --blanco: #ffffff;
    --fondo: #F2F1EF;
    --negro: #000000;
    --amarillo: #F5B700;
    --azul-principal: #011E60;
    --azul-secundario: #6A7FC0;

    --radio: 6px;
    --transicion: .25s;
}

/*=========================================
                RESET
=========================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=========================================
                MAIN
=========================================*/

main{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

/*=========================================
            TEMPORAL IMG
=========================================*/

.temporal-perfil-img img {
    max-width: 100%;
    height: auto;
}