.sidebar{
    width:320px;
    flex-shrink:0;
    background:var(--azul-principal);
    color:var(--blanco);
    display:flex;
    flex-direction:column;
    height: 100%;
}

.sidebar-logo{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 20px;
}

.sidebar-logo img{
    width:180px;
    transition:.3s;
}

.sidebar-logo img:hover{
    transform:scale(1.04);
}

.sidebar-title{
    padding:10px 28px 10px;
    color:var(--blanco);
    font-size:15px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
}

.sidebar-nav{
    display:flex;
    flex-direction:column;
}

.sidebar-nav a{
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 28px;
    border-radius:10px;
    margin:3px 12px;
    color:var(--blanco);
    text-decoration:none;
    transition:.25s;
    font-weight:500;
}

.sidebar-nav a i{
    width:22px;
    text-align:center;
    font-size:18px;
}

.sidebar-nav a:hover{
    background:var(--amarillo);
    color:var(--negro);
}

.sidebar-nav a.sidebar-activo:hover {

    background: rgba(0, 0, 0, .18);

    color: var(--blanco);

}

.sidebar-divider{
    border:none;
    border-top:1px solid rgba(255,255,255,.15);
    margin:0px 24px;
}

.sidebar-logout{
    margin-top:auto;
}

/* =====================================================
   VISTA ACTUAL
   ===================================================== */

.sidebar-nav a.sidebar-activo {

    background: rgba(0, 0, 0, .18);

    color: var(--blanco);

    font-weight: 700;

    position: relative;

}


/* Línea indicadora */

.sidebar-nav a.sidebar-activo::after {

    content: "";

    position: absolute;

    left: 12px;

    right: 12px;

    bottom: 0;

    height: 3px;

    background: var(--blanco);

    border-radius: 3px 3px 0 0;

}

.sidebar-logout a:hover{
    background: red;
    color:white;
}
