{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>XIOMEX TECH</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/productos.css' %}">
    <link rel="stylesheet"
          href="{% static 'fontawesome/all.min.css' %}">
</head>

<body>

{% include 'includes/header.html' %}

<main>
    <div class="temporal-productos-img" >
        <img src="{% static 'img/productos-example.png' %}" alt="productos-example">
    </div>
</main>

{% include 'includes/footer.html' %}

</body>
</html>